[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
loguru = "*"
pyyaml = "*"
requests = {extras = ["socks"], version = "*"}
uvicorn = "*"
jsonpath = "*"
urllib3 = "*"
jinja2 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
